.tasks {
  margin-top: 30px;
}

.tasks li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 600ms;
}
.tasks li:hover {
  background: #cfcfcf;
}

.tasks li .edit {
  margin-right: 15px;
  color: #0044ff;
}
.tasks li .delete {
  margin-right: 15px;
  color: #ff0026;
}
/* .tasks li:hover .delete,
.tasks li:hover .edit {
  color: #000000;
} */

.tasks li .delete,
.tasks li .edit {
  cursor: pointer;
}
.tasks li span {
  display: flex;
  align-items: center;
}
